table a:link {
  color: #990099;
  font-weight: 800;
  text-decoration:none;
}
table a:visited {
  color: #990099;
  font-weight: 800;
  text-decoration:none;
}
table a:active, table a:hover {
  color: #ff3333;
  text-decoration:underline;
}
table {
  font-family:Arial, Helvetica, sans-serif;
  color:#666;
  font-size:12px;
  background:#eaebec;
  margin: 10px 0px;
  border:#ccc 1px solid;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;

  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;
}
table th {
  padding:10px 15px;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;
  color: white;
  background: #606060;
  background: #b464b4;
  background: black;
  font-weight:bold;
  font-size:13px;
}

table tr:first-child th:first-child{
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
}

table tr:first-child th:last-child{
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:3px;
}
table tr{
  text-align: center;
  padding-left:10px;
}
table tr td:first-child{
  text-align: left;
  padding-left:10px;
  border-left: 0;
}
table tr td {
  padding:10px;
  border-top: 1px solid #ffffff;
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  background: #fcfcfc;
}
table tr.redRow td{
  background: #ffcccc;
}
table tr.yellowRow td{
  background: #ffffc2;
}
table tr.greenRow td{
  background: #ccf5cc;
}
table tr.evenRow td{
  background: #f3f3f3;
}
table tr:last-child td{
  border-bottom:0;
}
table tr:last-child td:first-child{
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px;
}
table tr:last-child td:last-child{
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px;
}
table tr:hover td{
  background: #cef5e8;
  color: red;
}

/* CUSTOMIZING */
.box{
 width: auto;
 max-height:800px;
 margin: 10px 0px;
 padding: 0px 10px 10px;
 border: 2px solid black;
 overflow:auto;
}
a:link {
  color: #6b0d61;
  font-weight: 800;
  text-decoration:none;
}
a:visited {
  color: #6b0d61;
  font-weight: 800;
  text-decoration:none;
}
a:active, a:hover {
  color: #bd5a35;
  text-decoration:underline;
}

textarea{
  width: 100%;
  max-height:700px;
}

.col2 li{
  margin:5px 0px;
}

table.formTable td:first-child{
  font-weight:800;
  color:red;
}

table.formTable tr{
  text-align:left;
  padding-left:10px;
}

.red{
	color:red;
	font-weight:800;
}